html, body, #root, .App, .App>div, .standardView{
  height: 100%;
}

#navDiv{
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
}

#questView{
  border: 8px solid transparent;
  border-image: url(img/UI/todo-border.png) 32 stretch;
  background-color: #8F5F32;
  text-align: center;
}


.questCard{
  background-color: blue;
  margin: 10px;
}

#questToolbar {
  /*background-color: #8F5F32;*/
  text-align: center;
}

#toolbarTable{

}

.btnToolbar{
  /*height: 20em;*/
}

#mapView{
  background-color: aquamarine;
}

/* scrollbar stuff */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #D8A26F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8F5F32;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8F5F32;
}

/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
