/*** GLOBAL CSS ***/
html, body, #root, .App, .App>div, .standardView{
  height: 100%;
}

.btn{
  margin: 3px;
}

@font-face {
  font-family: "font_8bit";
  src: url("fonts/8bitoperator.ttf");
}
/*** END GLOBAL CSS ***/

/*** NAVIGATION ***/
#navDiv{
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  text-align: center;
  bottom: 0;
  z-index: 2;
}
/*** END NAVIGATION ***/

/*** QUEST VIEW ***/
#questView{
  border: 8px solid transparent;
  border-image: url(img/UI/todo-border.png) 32 stretch;
  background-color: #8F5F32;
  text-align: center;
}

#questHeader{

}

#questTextImg{
  float: left;
  margin: 0 5%;
}

#questBalance{
  float: right;
  margin: 5%;
  font-family: font_8bit;
}

#questsEmpty{
  font-family: font_8bit;
  font-size: larger;
  color: #8f5f32;
}

.questCard{
  background-color: #F8F2EC;
  border: 8px solid transparent;
  border-image: url(img/UI/card-border.png) 32 stretch;
  margin: 10px;
  overflow-x: auto;
  white-space: normal;
  text-align: left;
  font-family: font_8bit;
}

.questCardLeft{
  text-align: left;
  float: left;
  margin: auto 2%;
  height: 100%;
}

.questCardTitle{
  font-size: large;
}

.questCardDetails{
  font-size: small;
}

.questCardRight{
  text-align: right;
  float: right;
  margin: 3.5%;
}

#settingsDiv{
  width: 80%;
  background-color: transparent;
  position: absolute;
  z-index: 2;
}

/* scrollbar stuff */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #D8A26F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8F5F32;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8F5F32;
}
/*** END QUEST VIEW ***/

/*** NEW QUEST VIEW ***/
#newQuestView{
  border: 8px solid transparent;
  border-image: url(img/UI/todo-border.png) 32 stretch;
  background-color: #8F5F32;
  text-align: center;
  font-family: font_8bit;
}

#newQuestTop{
  background-color: #B38356;
}

#newQuestMiddle{
  background-color: #D8A26F;
  width: 100%;
  margin: 0;
}

#newQuestDifficulty{
  margin: 0 auto 0 auto;
}

#newQuestButtons{

}

#goalTextArea, #detailsTextArea{
  width: 85%;
  border: 4px solid transparent;
  border-image: url(img/UI/goal-border.png) 32 stretch;
  background-color: #F8F2EC;
  margin: 0 auto 3% auto;
  padding: 2%;
}

#newQuestTop textarea::placeholder{
  font-size: large;
  font-family: font_8bit;
  color: #DEBEA1;
}

#newQuestDifficultySpan{
  text-align: left;
  width: 100%;
  margin: 2%;
  font-size: x-large;
}

#newQuestTable{
  align-self: center;
  margin: 0 auto;
}

#btn_quest_delete{
  margin-right: 15%;
}

#btn_quest_create{
  margin-left: 15%;
}
/*** END NEW QUEST VIEW ***/

/*** MAP VIEW ***/
#mapView{
  border: 8px solid transparent;
  border-image: url(img/UI/todo-border.png) 32 stretch;
  background-color: #8F5F32;
  font-family: font_8bit;
  font-size: large;
}

#mapStart{
  background-color: #d8a26f;
}

#mapTop{

}

/*#mapDemos{*/
/*  overflow: auto;*/
/*  white-space: nowrap;*/
/*}*/

/*#mapDemos img{*/
/*  display: inline-block;*/
/*}*/

#mapBottom{
  font-size: medium;
}
/*** END MAP VIEW ***/

/*** SHOP VIEW ***/


/*** END SHOP VIEW ***/

