/*** GLOBAL CSS ***/
html, body, #root, .App, .App>div, .standardView{
  height: 100%;
}

.btn{
  margin: 3px;
}

@font-face {
  font-family: "font_8bit";
  src: url("fonts/8bitoperator.ttf");
}
/*** END GLOBAL CSS ***/

/*** NAVIGATION ***/
#navDiv{
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  text-align: center;
  bottom: 0;
  z-index: 2;
}
/*** END NAVIGATION ***/

/*** QUEST VIEW ***/
#questView{
  border: 8px solid transparent;
  border-image: url(img/UI/todo-border.png) 32 stretch;
  background-color: #8F5F32;
  text-align: center;
}

.questCard{
  background-color: #F8F2EC;
  border: 8px solid transparent;
  border-image: url(img/UI/card-border.png) 32 stretch;
  margin: 10px;
  overflow-x: auto;
  white-space: normal;
  /*font-size: 0.85em;*/
}

#settingsDiv{
  width: 80%;
  background-color: transparent;
  position: absolute;
  z-index: 2;
}

/* scrollbar stuff */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #D8A26F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8F5F32;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8F5F32;
}
/*** END QUEST VIEW ***/

/*** NEW QUEST VIEW ***/
#newQuestView{
  border: 8px solid transparent;
  border-image: url(img/UI/todo-border.png) 32 stretch;
  background-color: #8F5F32;
  text-align: center;
}

#newQuestTop{
  background-color: #B38356;
}

#newQuestMiddle{

}

#newQuestDifficulties{

}

#newQuestButtons{

}

#goalTextArea, #detailsTextArea{
  width: 85%;
  border: 4px solid transparent;
  border-image: url(img/UI/goal-border.png) 32 stretch;
  background-color: #F8F2EC;
  margin: 0 auto 3% auto;
  padding: 2%;
}

#newQuestTop textarea::placeholder{
  font-size: large;
  font-family: font_8bit;
  color: #DEBEA1;
}
/*** END NEW QUEST VIEW ***/

/*** MAP VIEW ***/
#mapView{
  background-color: aquamarine;
}
/*** END MAP VIEW ***/

/*** SHOP VIEW ***/


/*** END SHOP VIEW ***/













/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
